# Students Do: Understanding customers

## Instructions

You are given a dataset that contains historical data from purchases of an online store made by 200 customers. In this activity you will put in action your data preprocessing superpowers, also you'll add some new skills needed to start finding customers clusters.

In [15]:
# Initial imports
import pandas as pd
from pathlib import Path

Load the data in a Pandas DataFrame, name it as `df_shopping` and fetch the top 10 rows.

In [16]:
# Data loading
file_path = Path("../Resources/shopping_data.csv")
df = pd.read_csv(file_path)
df.head(10)

   CustomerID  Gender  Age  Annual Income  Spending Score (1-100)
0           1    Male   19          15000                      39
1           2    Male   21          15000                      81
2           3  Female   20          16000                       6
3           4  Female   23          16000                      77
4           5  Female   31          17000                      40
5           6  Female   22          17000                      76
6           7  Female   35          18000                       6
7           8  Female   23          18000                      94
8           9    Male   64          19000                       3
9          10  Female   30          19000                      72

List the DataFrame's data types to ensure they're aligned to the type of data stored on each column.

In [17]:
# List dataframe data types
df.dtypes

CustomerID                 int64
Gender                    object
Age                        int64
Annual Income              int64
Spending Score (1-100)     int64
dtype: object

**Question 1:** Is there any column whose data type needs to be changed? If so, make the corresponding adjustments.

**Answer:** No

**Question 2:** Is there any unnecessary column that needs to be dropped? If so, make the corresponding adjustments.

**Answer:** CustomerID

In [18]:
df = df.drop(columns = "CustomerID")

Remove all rows with `null` values if any.

In [19]:
# Find null values
df = df.dropna()
df.head()

   Gender  Age  Annual Income  Spending Score (1-100)
0    Male   19          15000                      39
1    Male   21          15000                      81
2  Female   20          16000                       6
3  Female   23          16000                      77
4  Female   31          17000                      40

Remove duplicate entries if any.

In [21]:
# Find duplicate entries
print(f"Duplicate entries: {df.duplicated().sum()}")

Duplicate entries: 0

In order to use unsupervised learning algorithms, all the features should be numeric, and also, on similar scales. Perform the following data transformations.

* The `Gender` column contains categorical data, anytime you have categorical variables, you should transform them to a numerical value, in this case, transforming `Male` to `1` and `Female` to `0` is a feasible solution.

In [22]:
# Transform Gender column
def changeGender(gender):
    if gender == "Male":
        return 1
    else:
        return 0

df["Gender"] = df["Gender"].apply(changeGender)
df.head()

   Gender  Age  Annual Income  Spending Score (1-100)
0       1   19          15000                      39
1       1   21          15000                      81
2       0   20          16000                       6
3       0   23          16000                      77
4       0   31          17000                      40

* The `Annual Income` column is on a different scale than the other columns, it needs to have a similar scale on all the variables in order to use unsupervised learning algorithms, so `Annual Income` should be rescaled. In this case, dividing by `1000` is the simplest approach.

In [23]:
# Transform annual income
df["Annual Income"] = df["Annual Income"]/1000
df.head()

   Gender  Age  Annual Income  Spending Score (1-100)
0       1   19           15.0                      39
1       1   21           15.0                      81
2       0   20           16.0                       6
3       0   23           16.0                      77
4       0   31           17.0                      40

Save the cleaned DataFrame as a `CSV` file, name it as `shopping_data_cleaned.csv`.

In [25]:
# Saving cleaned data
file_path = Path("../Resources/shopping_data_cleaned.csv")
df.to_csv(file_path, index=False)