### Student Activity: Financial Forecasting Part I

This program executes a single simulation of stock price trajectory over the next `252 * 3` trading days (or 3 years of trading) for `TSLA` stock, based on a normal probability distribution of historical daily returns derived from the sample mean and standard deviation.

In [48]:
# Import libraries and dependencies
import numpy as np
import pandas as pd
import os
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import alpaca_trade_api as tradeapi
%matplotlib inline

In [49]:
# Load .env enviroment variables

# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

api = tradeapi.REST(alpaca_api_key, alpaca_secret_key, api_version='v2')

### Check Available Tickers from Alpaca Markets API

In [50]:
# Get all Assets
assets = api.list_assets()

# Keep only tradeable assets
tradeable = [asset for asset in assets if asset.tradable ]
tradeable[0]

Asset({   'class': 'us_equity',
    'easy_to_borrow': False,
    'exchange': 'NYSE',
    'id': '9a6b3b30-c141-40f3-8a95-6e9a58a92f55',
    'marginable': True,
    'name': 'Medley Capital Corporation 6.50% Notes due 2021',
    'shortable': False,
    'status': 'active',
    'symbol': 'MCX',
    'tradable': True})

In [51]:
# Create a new empty DataFrame
data_df = pd.DataFrame()
data_df['symbol'] = pd.Series([asset.symbol for asset in assets])
# Display the first 10 asset tickers
display(data_df.head(10))

           symbol
0             MCX
1           CRD.B
2            ADBE
3            GBDV
4             PXJ
5            SACH
6  SAMAU_DELISTED
7            IBCE
8  KYOCY_DELISTED
9            FUSB

### Get 1 Year's Worth of Data via API Call and Read in as DataFrame

In [52]:
# Set the ticker
ticker = "TSLA"

# Set timeframe to '1D'
timeframe = '1D'

# Set start and end datetimes of 1 year, between now and 365 days ago.
end_date = datetime.now()
start_date = end_date + timedelta(-365)

# Get 1 year's worth of historical data for TSLA

df = api.get_barset(
    ticker,
    timeframe,
    limit=None,
    start=start_date,
    end=end_date,
    after=None,
    until=None,
).df

df.head()

                               TSLA
                               open    high     low   close   volume
2019-11-13 00:00:00-05:00  355.0000  356.33  345.18  345.99  8029488
2019-11-14 00:00:00-05:00  346.1100  353.84  342.91  349.36  5966623
2019-11-15 00:00:00-05:00  350.6400  352.80  348.36  352.24  4591478
2019-11-18 00:00:00-05:00  352.9165  353.15  346.10  349.98  4287780
2019-11-19 00:00:00-05:00  351.7500  359.99  347.80  359.52  7442184

### Drop Extraneous Levels and Columns

In [53]:
# Drop Outer Table Level
df = df.droplevel(axis=1,level=0)

# Use the drop function to drop extra columns
df.drop(columns=["open", "high", "low", "volume"], inplace=True)

# Since this is daily data, we can keep only the date (remove the time) component of the data
df.index = df.index.date

df.head()

             close
2019-11-13  345.99
2019-11-14  349.36
2019-11-15  352.24
2019-11-18  349.98
2019-11-19  359.52

### Calculate Daily Returns

In [54]:
# Use the `pct_change` function to calculate daily returns of TSLA
daily_returns = df.pct_change()
daily_returns.head()

               close
2019-11-13       NaN
2019-11-14  0.009740
2019-11-15  0.008244
2019-11-18 -0.006416
2019-11-19  0.027259

### Calculate Value of Average Daily Returns

In [65]:
# Use the `mean` function to calculate the mean of daily returns for TSLA
mean = daily_returns.mean()["close"]
mean

0.006554494710177444

### Calculate Value of Standard Deviation of Daily Returns

In [66]:
# Use the `std` function to calculate the standard deviation of daily returns for TSLA
std = daily_returns.std()["close"]
std

0.06240526204070103

### Run the Monte Carlo Simulation and Save Results to DataFrame

In [70]:
# Set number of trading days and get last closing price of TSLA from DataFrame
num_trading_days = 252 * 3
last_price = df(["close"][-1])

# Initialize the simulated prices list with the last closing price of TSLA
simulated_list = [last_price]


# Simulate the returns for 252 * 3 trading days
for i in range(num_trading_days):
    # Calculate the simulated price using the last price within the list
    simulated_price = simulated_tsle_prices[-1] * (1 + np.random.normal(mean, std))
    # Append the simulated price to the list
    simulated_tsla_prices.append(simulated_price)
    
# Create a DataFrame of the simulated prices
simulated_price_df = pd.DataFrame({
        "Simulated TSLA Prices": simulated_tsla_prices
    })

# Print head of DataFrame
simulated_price_df.head()

TypeError: 'DataFrame' object is not callable

### Plot the Simulated Stock Price Trajectory for TSLA over the Next 3 Years (252 * 3) of Trading Days

In [58]:
# Use the `plot` function to plot the trajectory of TSLA stock based on a (252 * 3) trading day simulation

### Calculate Daily Returns of Simulated Stock Prices for TSLA

In [59]:
# Use the `pct_change` function to calculate daily returns of simulated stock prices for TSLA

### Calculate the Cumulative Returns of Simulated Stock Prices for TSLA

In [60]:
# Use the `cumprod` function to calculate the cumulative returns of simulated stock prices for TSLA

### Calculate the Cumulative Profits/Losses of Simulated Stock Prices for TSLA

In [61]:
# Multiply an initial investment by the cumulative returns of simulative stock prices to
# return the progression of cumulative returns in terms of money

### Plot the Cumulative Profits/Losses of `$10,000` in TSLA Over the Next 3 Years (252 * 3) of Trading Days

In [62]:
# Use the 'plot' function to create a chart of the cumulative profits/losses