# Instructor Do: Intro to VADER Sentiment

In [8]:
# Initial imports
import os
from pathlib import Path
import pandas as pd
from newsapi import NewsApiClient
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [9]:
# Download/Update the VADER Lexicon
nltk.download('vader_lexicon')

# Initialize the VADER sentiment analyzer
analyzer = SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/collinpixley/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [10]:
# Reading the News API key enviroment variable
api_key = os.getenv("NEWSAPI_KEY")

In [11]:
# Create a newsapi client
newsapi = NewsApiClient(api_key=api_key)

In [12]:
# Fetch all the news about Facebook Libra
libra_headlines = newsapi.get_everything(
    q="facebook AND libra",
    language="en",
    page_size=100,
    sort_by="relevancy"
)

# Print total articles
print(f"Total articles about Facebook Libra: {libra_headlines['totalResults']}")

# Show sample article
libra_headlines["articles"][0]

Total articles about Facebook Libra: 191

{'source': {'id': 'techcrunch', 'name': 'TechCrunch'},
 'author': 'Romain Dillet',
 'title': 'Facebook rebrands Libra wallet Calibra to Novi',
 'description': 'When Facebook unveiled Libra, its cryptocurrency project, there were two distinct entities —\xa0the Libra Association, a not-for-profit that oversees all things Libra, and Calibra, a Facebook subsidiary that is building a Libra-based wallet with integrations in …',
 'url': 'http://techcrunch.com/2020/05/26/facebook-rebrands-libra-wallet-service-calibra-to-novi/',
 'urlToImage': 'https://techcrunch.com/wp-content/uploads/2020/05/Novi-Libra-Calibra.png?w=711',
 'publishedAt': '2020-05-26T15:28:34Z',
 'content': 'When Facebook unveiled Libra, its cryptocurrency project, there were two distinct entities \xa0the Libra Association, a not-for-profit that oversees all things Libra, and Calibra, a Facebook subsidiary … [+2281 chars]'}

In [13]:
# Create the Facebook Libra sentiment scores DataFrame
libra_sentiments = []

for article in libra_headlines["articles"]:
    try:
        text = article["content"]
        date = article["publishedAt"][:10]
        sentiment = analyzer.polarity_scores(text)
        compound = sentiment["compound"]
        pos = sentiment["pos"]
        neu = sentiment["neu"]
        neg = sentiment["neg"]
        
        libra_sentiments.append({
            "text": text,
            "date": date,
            "compound": compound,
            "positive": pos,
            "negative": neg,
            "neutral": neu
            
        })
        
    except AttributeError:
        pass
    
# Create DataFrame
libra_df = pd.DataFrame(libra_sentiments)

# Reorder DataFrame columns
cols = ["date", "text", "compound", "positive", "negative", "neutral"]
libra_df = libra_df[cols]

libra_df.head()

,date,text,compound,positive,negative,neutral
0,2020-05-26,"When Facebook unveiled Libra, its cryptocurren...",0.0000,0.000,0.000,1.000
1,2020-05-19,"Starting today, you’ll be able to browse and b...",0.3182,0.071,0.000,0.929
2,2020-05-26,Facebook announced today that it would be comp...,-0.3182,0.070,0.138,0.792
3,2020-05-20,Facebook and Instagram are making a bigger pus...,0.0000,0.000,0.000,1.000
4,2020-05-26,Face\r\nFacebook is giving its digital wallet ...,0.3400,0.072,0.000,0.928

In [14]:
# Get descriptive stats from the DataFrame
libra_df.describe()

        compound   positive   negative    neutral
count  94.000000  94.000000  94.000000  94.000000
mean    0.123728   0.053660   0.022426   0.923915
std     0.318559   0.057364   0.045283   0.070815
min    -0.571900   0.000000   0.000000   0.738000
25%     0.000000   0.000000   0.000000   0.875000
50%     0.000000   0.044000   0.000000   0.928500
75%     0.361200   0.075000   0.000000   1.000000
max     0.757900   0.204000   0.220000   1.000000